{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>Frequently Asked Questions</h3>
            <dt>How do I run this application?</dt>
            <dd>To run this application you'll need a BibTeX file in advance. Click on the "Choose File" button and select the file from your computer. Afterwards choose wether you would like to have the output file sorted by author or by year. Once that is done click the "Generate CSV" button and a popup will confirm that the CSV file has been downloaded to your computer.</dd>
            <!-- <br>
            <dt>How do I obtain a BibTeX file?</dt>
            <dd>BibTeX files can be obtained from many sources. An example of this is Google Scholar.</dd> -->
            <br>
            <dt>What is a Comma-Separated Value (CSV) file and do I access it?</dt>
            <dd>For a helpful guide on what a csv is and how to open it <a href="https://www.howtogeek.com/348960/what-is-a-csv-file-and-how-do-i-open-it/" target="_blank">Click Here</a>.</dd>
            <br>
            <p>For more information on Conflicts of Interest reports, go to <a href="https://edwards.sdsu.edu/research/nsf-conflicts/" target="_blank">NSF Conflicts of Interest Site</a>.</p>
        </div>
    </div>
</div>
{% endblock %}