{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>BibTeX to CSV Converter</h3>
            <h5>Upload a BibTeX file to generate a collaborator report in CSV format. This can be used for NSF or NIH Conflict of Interest reporting.</h4>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <ol>
                <li>Upload a BibTeX file with a .bib file extension.</li>
                <li>Select what category to sort by (Author or Year).</li>
                <li>Generate CSV. The CSV file will automatically download to your browser.</li>
            </ol>
            <form method=post enctype=multipart/form-data>
                <input type="file" id="selectedFile" style="display: none;" />
                <input type="button" id="selectedButton" value="Choose File" onclick="document.getElementById('selectedFile').click();" />
                <br>
                <p>Sort By: Author
                    <input type="radio" id="autor" name="sortby" value="Author">
                    Year
                    <input type="radio" id="year" name="sortby" value="Year">
                </p>
                <input type=submit value="Generate CSV">
            </form>
        </div>                    
    </div>
</div>
{% endblock %}